@page
@model ObjectsExchange.Pages.ClientNodes.IndexModel

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <a asp-page="/Clients/Index">Back to Clients</a>
    <a asp-page="Create" asp-route-clientId="@Model.ClientId" class="btn btn-primary">Create New</a>
</div>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.ClientNode[0].ClientNode.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNode[0].ClientNode.ClientAccess)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNode[0].ClientNode.IsDemo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNode[0].ClientNode.Counter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNode[0].ClientNode.MaxOperationPerMounth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNode[0].ObjectsCount)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNode[0].QueriesCount)

            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ClientNode) {

        <tr>
                <td data-bs-toggle="tooltip" data-bs-placement="top" title="@item.ClientNode.Description">
                    @Html.DisplayFor(modelItem => item.ClientNode.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientNode.ClientAccess)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientNode.IsDemo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientNode.Counter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientNode.MaxOperationPerMounth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ObjectsCount)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QueriesCount)

                </td>


            <td>
                    <a asp-page="./Edit" asp-route-id="@item.ClientNode.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ClientNode.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ClientNode.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
