@page
@model Sabatex.ObjectsExchange.Server.Pages.Clients.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ClientNode</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientNode.NormalizedName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientNode.NormalizedName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientNode.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientNode.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientNode.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientNode.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientNode.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientNode.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientNode.ClientAccess)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientNode.ClientAccess)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientNode.IsDemo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientNode.IsDemo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientNode.Counter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientNode.Counter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientNode.MaxOperationPerMounth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientNode.MaxOperationPerMounth)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ClientNode.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
