@page
@model Sabatex.ObjectsExchange.Server.Pages.Clients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientNode[0].NormalizedName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNode[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNode[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNode[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNode[0].ClientAccess)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNode[0].IsDemo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNode[0].Counter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNode[0].MaxOperationPerMounth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ClientNode) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NormalizedName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientAccess)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDemo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Counter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxOperationPerMounth)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
